/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Tema mínimo de Angular Material (v18)
@include mat.core();
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$orange-palette,
  ),
));
:root {
  @include mat.all-component-themes($theme);
}
